<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>

      <add key="orgID" value="5d1cbe0ad3c02b0007ab3ba1" />
      
      <add key="eventSinkUrl" 
         value="https://events.qa.tenfold.com/receive/{0}/phone-simulator" />

      <add key="eventTemplate" 
         value='{{"status": "{0}", "direction": "{1}", "number": "{2}", "extension": "{3}", "pbxCallId": "{4}"}}' />

      <add key="extsList" value="1234" />

      <add key="memFile" value="SkypeSnifferBuffer" />
      <add key="memFileJson" 
         value='{{"dts": "{0}", "errorCode": "{1}", "errorMsg": "{2}", "eventId": "{3}", "eventMsg": "{4}"}}' />
      
   </appSettings>
</configuration>
